.venv_RRG/
.venv_nv/
.venv/
.radialog_venv/
__pycache__/
*.pyc
model_caching/
outputs/
data/
.models_cache/
.vscode/launch.json
SC_Libra_venv/
.SC_Libra_venv/
RaDialog-interactive-radiology-report-generation
libra_experiment.bash
rrg_experiment.bash
nv_experiment.bash
chexagent_experiment.bash
radialog_experiment.bash
evaluation_metrics.bash
job_*
out_*
/logs
other_codes
results/
.venv_eval/
.venv_chexagent/
.radialog_venv/
evaluations/results
evaluations/concat_results.py
evaluations/concat_results2.py


.gpt54_key
.gemini_key
