[submodule "Libra"]
	path = Libra
	url = https://github.com/X-iZhang/Libra.git
[submodule "RaDialog-interactive-radiology-report-generation"]
	path = RaDialog-interactive-radiology-report-generation
	url = https://huggingface.co/ChantalPellegrini/RaDialog-interactive-radiology-report-generation
[submodule "third_party/GREEN"]
	path = third_party/GREEN
	url = https://github.com/Stanford-AIMI/GREEN.git
[submodule "GREEN"]
	path = GREEN
	url = https://github.com/Stanford-AIMI/GREEN.git
