accelerate==1.6.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
alabaster==1.0.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
appdirs==1.4.4
asn1crypto==1.5.1
atomicwrites==1.4.1
attrs==25.4.0
babel==2.17.0
backports.entry-points-selectable==1.3.0
backports.functools-lru-cache==2.0.0
backports.tarfile==1.2.0
beniget==0.5.0
bitarray==3.8.0
bitsandbytes==0.41.0
bitstring==4.3.1
Bottleneck==1.6.0
brotli==1.2.0
CacheControl==0.14.4
cachy==0.3.0
certifi==2026.1.4
cffi==2.0.0
chardet==5.2.0
charset-normalizer==2.0.12
cleo==2.1.0
click==8.3.1
cloudpickle==3.1.2
colorama==0.4.6
commonmark==0.9.1
crashtest==0.4.1
cryptography==46.0.3
Cython==3.2.4
datasets==4.5.0
deap==1.4.3
decorator==5.2.1
dill==0.4.0
distlib==0.3.7
distro==1.9.0
docopt==0.6.2
docutils==0.22.4
doit==0.36.0
dulwich==1.0.0
ecdsa==0.19.1
editables==0.5
einops==0.6.1
einops-exts==0.0.4
exceptiongroup==1.3.1
execnet==2.1.2
expecttest==0.3.0
fastapi==0.128.0
ffmpy==1.0.0
filelock==3.20.3
flit_core==3.9.0
frozenlist==1.8.0
fsspec==2025.10.0
ftfy==6.3.1
future==1.0.0
gast==0.7.0
glob2==0.7
gmpy2==2.2.2
gradio==6.4.0
gradio_client==2.0.3
groovy==0.1.2
h11==0.16.0
hf-xet==1.2.0
html5lib==1.1
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.36.0
idna==3.11
imagesize==1.4.1
importlib_metadata==8.7.1
importlib_resources==6.5.2
iniconfig==2.3.0
intervaltree==3.2.1
intreehooks==1.0
ipaddress==1.0.23
jaraco.classes==3.4.0
jaraco.context==6.1.0
jaraco.functools==4.4.0
jeepney==0.9.0
Jinja2==3.1.6
joblib==1.5.3
jsonschema==4.23.0
jsonschema-specifications==2025.9.1
keyring==25.7.0
keyrings.alt==5.0.2
latex2mathml==3.78.1
-e git+https://github.com/X-iZhang/Libra.git@0d6c56a44b0f74259bdd8f05929465790b49f6e5#egg=libra&subdirectory=../../Libra
lockfile==0.12.2
markdown-it-py==4.0.0
markdown2==2.5.4
MarkupSafe==3.0.3
mdurl==0.1.2
mock==5.2.0
more-itertools==10.8.0
mpmath==1.3.0
msgpack==1.1.2
multidict==6.7.0
multiprocess==0.70.18
netaddr==1.3.0
netifaces==0.11.0
networkx==3.6.1
nltk==3.9.1
numexpr==2.14.1
numpy==1.26.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.9.86
nvidia-nvtx-cu12==12.1.105
open-clip-torch==2.23.0
orjson==3.11.5
packaging==23.2
pandas==2.3.3
pastel==0.2.1
pathlib2==2.3.7.post1
pathspec==1.0.3
pbr==7.0.3
peft==0.4.0
pexpect==4.9.0
pillow==12.1.0
pkginfo==1.12.1.2
platformdirs==3.11.0
pluggy==1.6.0
ply==3.11
pooch==1.8.2
propcache==0.4.1
protobuf==3.20.3
psutil==7.2.1
ptyprocess==0.7.0
py==1.11.0
py-expression-eval==0.3.14
pyarrow==23.0.0
pyasn1==0.6.2
pybind11==3.0.1
pycparser==3.0
pycryptodome==3.23.0
pydantic==2.11.4
pydantic_core==2.33.2
pydevtool==0.3.0
pydicom==3.0.1
pydub==0.25.1
Pygments==2.19.2
pylev==1.4.0
PyNaCl==1.6.2
pyparsing==3.3.2
pyrsistent==0.20.0
pytest==9.0.2
pytest-xdist==3.8.0
python-dateutil==2.9.0.post0
python-multipart==0.0.21
pythran==0.9.5
pytoml==0.1.21
pytz==2025.2
PyYAML==6.0.3
RapidFuzz==3.14.3
referencing==0.37.0
regex==2026.1.15
requests==2.32.5
requests-toolbelt==1.0.0
rich==14.3.1
rich-click==1.9.6
roman-numerals==4.1.0
rpds-py==0.30.0
safehttpx==0.1.7
safetensors==0.7.0
scandir==1.10.0
scikit-learn==1.2.2
scipy==1.11.1
SecretStorage==3.5.0
semantic-version==2.10.0
sentencepiece==0.1.99
setuptools-scm 
shellingham==1.5.4
shortuuid==1.0.13
simplegeneric==0.8.1
simplejson==3.20.2
six==1.17.0
snowballstemmer==3.0.1
sortedcontainers==2.4.0
Sphinx==9.0.4
sphinx-bootstrap-theme==0.8.1
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sphinxcontrib-websupport==2.0.0
starlette==0.50.0
svgwrite==1.4.3
sympy==1.13.1
tabulate==0.9.0
threadpoolctl==3.6.0
timm==1.0.15
tokenizers==0.21.1
toml==0.10.2
tomli
tomli_w==1.2.0
tomlkit==0.13.3
torch==2.4.0
torchvision==0.19.0
tqdm==4.67.1
transformers==4.51.3
triton==3.0.0
typer==0.21.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
ujson==5.11.0
urllib3==2.6.3
uvicorn==0.40.0
versioneer==0.29
virtualenv 
wavedrom==2.0.3.post3
wcwidth==0.4.0
webencodings==0.5.1
xlrd==2.0.2
xxhash==3.6.0
yarl==1.22.0
z3-solver==4.15.4.0
zipfile36==0.1.3
zipp==3.23.0
